@font-face {
  font-family: emoji;
  src:
    url('./fonts/AppleColorEmoji-HD.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.emoji {
  font-family: emoji;
  font-size: 10vw;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
}

.btn_add {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}